<h1>Sent Messages</h1>
<% if @messages.blank? %>
  <p>No sent messages has been registered</p>
<% else %>
  <div class="ui cards">
    <%= render @messages %>
  </div>
<% end %>

<script type="text/javascript">
  window.onload = function() {
    if (!window.location.hash) {
      window.location = window.location + '#j';
      window.location.reload();
    }
  }
</script>