<h1>Unread Messages</h1>
<% if @messages.blank? %>
  <p id="alert-no-message">No unread messages has been registered</p>
<% end %>
<div id="unread-messages" class="ui cards">
  <%= render @messages %>
</div>