<h1>Unread Messages</h1>
<% if @messages.blank? %>
  <p id="alert-no-message">No unread messages has been registered</p>
<% else %>
  <div class="ui cards">
    <% @messages.each do |message| %>
      <%= render "message", message: message %>
    <% end %>
  </div>
<% end %>
<div id="unread-messages" class="ui cards hidden">
</div>