<div id="live-chat-00" class="live-chat">
  <header id="header-0" class="clearfix">
    <a href="#" id="chat-close-0" class="chat-close">x</a>
    <span id="room-status-0" class="room-status offline"></span>
    <h4 id="room-fullname"></h4>
    <span id="chat-message-counter-0" class="chat-message-counter">3</span>
  </header>
  <div id="chat-0" class="chat">
    <div id="chat-history-00" class="chat-history"></div>
    <div class="input-message">
      <input id="send_message_00" data-room-id="0" data-sender-id="0" class="send_message" type="text" placeholder="Type your message ..." onclick="make_read_messages(this)" autofocus>
    </div>
  </div>
</div>