/*
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

body{
  a{
    color: rgba(0,0,0,0.4);
  }
}

.ui.grid.main-content{
	margin: 0;
  padding: 0;
	height: 100%;
}

.ui.grid .container{
	overflow: auto;
}

.ui.grid .nav-styles{
	background-color: #d4d4d5;
	position: fixed;
  height: 100%;
}

.dashboard-styles{
  margin: 2%;
}

.ui.menu .item .unread-message-indicator{
  font-weight: bold;
  color: black !important;
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.5s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: 20s;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spaceboots {
  0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.margin-user-status{
  margin-right: 15px !important;
}

.ui.fluid.input > input {
  border-radius: 0px;
}